# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="${WM_HOST_KEYBOARD_XKBMODEL}"
XKBLAYOUT="${WM_HOST_KEYBOARD_XKBLAYOUT}"
XKBVARIANT="${WM_HOST_KEYBOARD_XKBVARIANT}"
XKBOPTIONS="${WM_HOST_KEYBOARD_XKBOPTIONS}"

BACKSPACE="${WM_HOST_KEYBOARD_BACKSPACE}"
