[Unit]
Description=Wirepas sink manager for sink connected to ${WM_NLGW_SINK_##sinkid##_UART_PORT}
Requires=getty.target

[Service]
Type=simple
User=${WM_NLGW_SINK_SERVICE_USER}
ExecStart=${WM_NLGW_SINK_SERVICE_CMD} -b ${WM_NLGW_SINK_##sinkid##_UART_BITRATE} -p ${WM_NLGW_SINK_##sinkid##_UART_PORT} -i ##sinkid##
Restart=always
RestartSec=5
StartLimitBurst=120
StartLimitIntervalSec=1200

[Install]
WantedBy=multi-user.target
