[Unit]
Description=Recreates docker services
After=rc-local.service
After=network-online.target
Requires=rc-local.service
Requires=network-online.target

[Service]
User=${WM_HOST_USER_NAME}
ExecStart=/bin/bash ${HOME}/.local/bin/wm-config
Restart=always
RestartSec=${WM_SYSTEMD_UPDATER_INTERVAL}s

[Install]
WantedBy=multi-user.target

