[Unit]
Description=Wirepas Transport Process
Requires=network.target

[Service]
Type=simple
User=${WM_NLGW_TRANSPORT_SERVICE_USER}
ExecStart=${WM_NLGW_TRANSPORT_SERVICE_CMD} --settings=${WM_NLGW_TRANSPORT_SERVICE_SETTINGS}
Restart=always
RestartSec=5
StartLimitBurst=120
StartLimitIntervalSec=1200

[Install]
WantedBy=multi-user.target
