# Wirepas Oy
# sink settings
WM_SINK_UART_PORT=${WM_SINK_UART_PORT}
WM_SINK_UART_BITRATE=${WM_SINK_UART_BITRATE}
WM_SINK_ID=${WM_SINK_ID}

# transport settings
WM_SERVICES_HOST=${WM_SERVICES_HOST}
WM_SERVICES_MQTT_PORT=${WM_SERVICES_MQTT_PORT}
WM_SERVICES_MQTT_USER=${WM_SERVICES_MQTT_USER}
WM_SERVICES_MQTT_PASSWORD=${WM_SERVICES_MQTT_PASSWORD}
WM_SERVICES_CERTIFICATE_CHAIN=${WM_SERVICES_CERTIFICATE_CHAIN}
WM_SERVICES_GATEWAY_ID=${WM_SERVICES_GATEWAY_ID}
